
@keyframes ldio-njknd8cbpz7 {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-njknd8cbpz7 div {
  left: 97px;
  top: 17px;
  position: absolute;
  animation: ldio-njknd8cbpz7 linear 2s infinite;
  background: #85a2b6;
  width: 6px;
  height: 106px;
  border-radius: 3px / 39.22px;
  transform-origin: 3px 83px;
}.ldio-njknd8cbpz7 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.9583333333333333s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(2) {
  transform: rotate(7.5deg);
  animation-delay: -1.9166666666666667s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(3) {
  transform: rotate(15deg);
  animation-delay: -1.875s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(4) {
  transform: rotate(22.5deg);
  animation-delay: -1.8333333333333333s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(5) {
  transform: rotate(30deg);
  animation-delay: -1.7916666666666667s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(6) {
  transform: rotate(37.5deg);
  animation-delay: -1.75s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(7) {
  transform: rotate(45deg);
  animation-delay: -1.7083333333333333s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(8) {
  transform: rotate(52.5deg);
  animation-delay: -1.6666666666666667s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(9) {
  transform: rotate(60deg);
  animation-delay: -1.625s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(10) {
  transform: rotate(67.5deg);
  animation-delay: -1.5833333333333333s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(11) {
  transform: rotate(75deg);
  animation-delay: -1.5416666666666667s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(12) {
  transform: rotate(82.5deg);
  animation-delay: -1.5s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(13) {
  transform: rotate(90deg);
  animation-delay: -1.4583333333333333s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(14) {
  transform: rotate(97.5deg);
  animation-delay: -1.4166666666666667s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(15) {
  transform: rotate(105deg);
  animation-delay: -1.375s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(16) {
  transform: rotate(112.5deg);
  animation-delay: -1.3333333333333333s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(17) {
  transform: rotate(120deg);
  animation-delay: -1.2916666666666667s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(18) {
  transform: rotate(127.5deg);
  animation-delay: -1.25s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(19) {
  transform: rotate(135deg);
  animation-delay: -1.2083333333333333s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(20) {
  transform: rotate(142.5deg);
  animation-delay: -1.1666666666666667s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(21) {
  transform: rotate(150deg);
  animation-delay: -1.125s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(22) {
  transform: rotate(157.5deg);
  animation-delay: -1.0833333333333333s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(23) {
  transform: rotate(165deg);
  animation-delay: -1.0416666666666667s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(24) {
  transform: rotate(172.5deg);
  animation-delay: -1s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(25) {
  transform: rotate(180deg);
  animation-delay: -0.9583333333333334s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(26) {
  transform: rotate(187.5deg);
  animation-delay: -0.9166666666666666s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(27) {
  transform: rotate(195deg);
  animation-delay: -0.875s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(28) {
  transform: rotate(202.5deg);
  animation-delay: -0.8333333333333334s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(29) {
  transform: rotate(210deg);
  animation-delay: -0.7916666666666666s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(30) {
  transform: rotate(217.5deg);
  animation-delay: -0.75s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(31) {
  transform: rotate(225deg);
  animation-delay: -0.7083333333333334s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(32) {
  transform: rotate(232.5deg);
  animation-delay: -0.6666666666666666s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(33) {
  transform: rotate(240deg);
  animation-delay: -0.625s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(34) {
  transform: rotate(247.5deg);
  animation-delay: -0.5833333333333334s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(35) {
  transform: rotate(255deg);
  animation-delay: -0.5416666666666666s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(36) {
  transform: rotate(262.5deg);
  animation-delay: -0.5s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(37) {
  transform: rotate(270deg);
  animation-delay: -0.4583333333333333s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(38) {
  transform: rotate(277.5deg);
  animation-delay: -0.4166666666666667s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(39) {
  transform: rotate(285deg);
  animation-delay: -0.375s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(40) {
  transform: rotate(292.5deg);
  animation-delay: -0.3333333333333333s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(41) {
  transform: rotate(300deg);
  animation-delay: -0.2916666666666667s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(42) {
  transform: rotate(307.5deg);
  animation-delay: -0.25s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(43) {
  transform: rotate(315deg);
  animation-delay: -0.20833333333333334s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(44) {
  transform: rotate(322.5deg);
  animation-delay: -0.16666666666666666s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(45) {
  transform: rotate(330deg);
  animation-delay: -0.125s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(46) {
  transform: rotate(337.5deg);
  animation-delay: -0.08333333333333333s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(47) {
  transform: rotate(345deg);
  animation-delay: -0.041666666666666664s;
  background: #85a2b6;
}.ldio-njknd8cbpz7 div:nth-child(48) {
  transform: rotate(352.5deg);
  animation-delay: 0s;
  background: #85a2b6;
}
.loadingio-spinner-spinner-zmm2x3qark {
  width: 200px;
  height: 200px;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
  opacity: 0.2;
  background: none;
}
.ldio-njknd8cbpz7 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  
  transform-origin: 0 0; /* see note above */
}
.ldio-njknd8cbpz7 div { box-sizing: content-box; }
/* generated by https://loading.io/ */
