@media screen and (max-width : 500px){
    
}

@media screen and (min-width : 500px){
   
}

/* font */
    .w_15rem {
        width: 15rem;
    }
    .w_16rem {
        width: 16rem;
    }
    .w_12rem {
        width: 12rem;
    }
    .w_11rem {
        width: 11rem;
    }
    .center{
        align-items: center;
        text-align: center;
    }
    .right{
        align-items: right;
        text-align: right;
    }

/* padding margin */
.mb-20px{
    margin-bottom: 20px;
}

.mt-mb-auto{
    margin-top:auto;
    margin-bottom: auto;
}
.mg-center{
    margin-right: auto;
    margin-left: auto;
}

/* create radio button on image */
    /* HIDE RADIO */
    [type=radio] { 
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    /* IMAGE STYLES */
    [type=radio] + img {
        cursor: pointer;
    }
    
    /* CHECKED STYLES */
    [type=radio]:checked + img {
        outline: 2px solid #f00;
    }
/* end */
