.button_custom {
    border: 1px solid green;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    height: 50px;
    width: 200px;
    border-radius: 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font: 15px sans-serif;
    font-weight: 300;
    text-shadow: 0 0 20px #fff;
    text-transform: uppercase;
    transition: all 0.2s ease;
    cursor: pointer;
  }
.button_custom:before {
    content: "";
    display: block;
    left: 10px;
    border-radius: 50px;
    top: 3px;
    position: absolute;
    background-color: transparent;
    border: 1px solid #fff;
  }
  .button_custom.fire {
    border-color: #ffeca8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 137, 30, 0.6)), to(rgba(3, 79, 12, 0.6)));
    background-image: linear-gradient(to bottom, rgb(3, 79, 9), rgba(3, 61, 16, 0.979));
    color: #ffffff;
  }
  .button_custom.fire:before {
    box-shadow: inset 0 0 30px 0 #fafafa;
  }
  .button_custom.ice {
    border-color: #a8ecff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(9, 94, 204, 0.5)), to(rgba(4, 40, 118, 0.5)));
    background-image: linear-gradient(to bottom, rgb(24, 86, 167), rgba(20, 70, 179, 0.925));
    color: #ffffff;
  }
  .button_custom.ice:before {
    box-shadow: inset 0 0 30px 0 #ffffff;
  }
  .button_custom:hover.fire {
    box-shadow: 0 0 10px rgba(255, 138, 48, 0.8), 0 5px 20px rgba(255, 138, 48, 0.8), inset 0 1px #ffeca8, inset 0 -1px #ffeca8;
  }
  .button_custom:hover.fire:before {
    box-shadow: inset 0 0 50px 0 #ffeca8;
  }
  .button_custom:hover.ice {
    box-shadow: 0 0 10px rgba(48, 138, 255, 0.8), 0 5px 20px rgba(48, 138, 255, 0.8), inset 0 1px #a8ecff, inset 0 -1px #a8ecff;
  }
  .button_custom:hover.ice:before {
    box-shadow: inset 0 0 50px 0 #a8ecff;
  }

  .ref {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 5px 8px;
    position: absolute;
    font-size: 16px;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 300;
    font-family: sans-serif;
    text-decoration: none;
  }
  .ref::first-letter {
    font-size: 12px;
  }
  